@using NoKates.Admin.Helpers
@using Blazored.LocalStorage
@inherits LayoutComponentBase
@inject ILocalStorageService Storage;
<PageTitle>NoKates.Admin</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            @if (LoginValid)
            {
                <a href="./Session/Logout">Logout</a>
            }
            else
            {
                <a href="./Session/Login">Login</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
        

    </main>
</div>
@code
{
    public static bool LoginValid;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await Storage.GetToken();
            LoginValid = !TokenHelper.TokenIsInvalid(token);

            StateHasChanged();
        }
    }

}
